* {
  font-family: "Roboto", sans-serif;
}

.login-page {
  background-image: url(images/7.jpg);
  position: fixed;
  width: 100%;
  height: 100%;
  background-size: cover;
  text-align: center;
}

.form {
  display: inline-block;
  text-align: center;
  margin-top: 100px;
  width: 300px;
  min-height: 240px;
  background: #435372ec;
  padding: 10px;
  border-radius: 15px;
}
.image{
  width: 180px;  
  height: 100%;  
}
.head {
  text-align: center;
  color: #9eafe7;
  padding: 5px;
}

.username-text {
  font-weight: bold;
  margin-left: 45px;
  color: #9eafe7;
  float: left;
}

.username {
  width: 300px;
  height: 30px;
  border: none;
  background-color: #eeeeee;
  border-radius: 3px;
  padding-left: 8px;
}

.pass-text {
  font-weight: bold;
  margin-left: 45px;
  color: #9eafe7;
  float: left;
}

.pass {
  width: 300px;
  height: 30px;
  border: none;
  background-color: #eeeeee;
  border-radius: 3px;
  padding-left: 8px;
  color: #9ba4b4;
}

.log {
  width: 160px;
  height: 35px;
  font-weight: bold;
  margin-top: 10px;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: rgb(56, 56, 56);
  background-color: #9eafe7;
  transition: 0.3s;
}

.log:hover {
  width: 162px;
  height: 36px;
  background-color: #93a2d6;
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.158);
  transition: 0.3s;
}

a {
  color: #d1d1d1;
  font-size: 15px;
  bottom: 50px;
  transition: 0.3s;
  margin-left: 10px;
}

a:hover {
  color: #5f91bc;
  font-size: 16px;
  transition: 0.3s;
}
