.body {
  margin: 0;
  padding: 0;
  background-image: url("6.jpg");
  font-family: "Arial", sans-serif;
}

.form {
  width: 382px;
  min-height: 360px;
  overflow: hidden;
  margin: auto;
  margin-top: 100px;
  text-align: center;
  padding: 80px;
  padding-top: 10px;
  background: #435372ec;
  border-radius: 10px;
  box-shadow: 4px 4px 25px rgba(0, 0, 0, 0.331);
}

.head {
  text-align: center;
  color: #9eafe7;
  padding: 5px;
}

.username-text {
  font-weight: bold;
  margin-left: 45px;
  color: #9eafe7;
  float: left;
}

.username {
  width: 300px;
  height: 30px;
  border: none;
  background-color: #eeeeee;
  border-radius: 3px;
  padding-left: 8px;
}

.pass-text {
  font-weight: bold;
  margin-left: 45px;
  color: #9eafe7;
  float: left;
}

.pass {
  width: 300px;
  height: 30px;
  border: none;
  background-color: #eeeeee;
  border-radius: 3px;
  padding-left: 8px;
  color: #9ba4b4;
}

.log {
  width: 160px;
  height: 35px;
  font-weight: bold;
  border: none;
  border-radius: 17px;
  padding-left: 7px;
  color: rgb(56, 56, 56);
  background-color: #9eafe7;
  transition: 0.3s;
}

.log:hover {
  width: 162px;
  height: 36px;
  background-color: #93a2d6;
  box-shadow: 2px 2px 25px rgba(0, 0, 0, 0.158);
  transition: 0.3s;
}

.check {
  border: none;
  border-radius: 5px;
}

.rem {
  color: rgb(255, 111, 111);
  font-size: 17px;
  bottom: 50px;
  margin-right: 10px;
}

a {
  color: #d1d1d1;
  font-size: 15px;
  bottom: 50px;
  transition: 0.3s;
  margin-left: 10px;
}

a:hover {
  color: #5f91bc;
  font-size: 16px;
  transition: 0.3s;
}
